 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <!-- <a class="nav-link" routerLink="/gift">Give</a> -->
          <a class="nav-link" routerLink="/donate">Make Donation</a>
          <a class="nav-link" routerLink="/">Donation Managment</a>
          <!-- <a class="nav-link" routerLink="/infoForm">Forms</a> -->
          <a class="nav-link" routerLink="/users">User Managment</a>
          <a class="nav-link" routerLink="/login">Login</a>
          <a class="nav-link" (click)="logout()">Log out</a>
      </nav>





<style>




</style>

<router-outlet></router-outlet> 



            
